/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */
body {
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
header {
    background-color: transparent;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.header-nav {
    margin-top: 15px;
    text-align: right;
    display: block;
}

.header-nav ul li {
    display: inline-block;
}

.header-nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px 16px;
    border-radius: 50%;
    margin-right: 15px;
}

/* MAIN */
section {
    height: 100vh;
    position: relative;
}

#first-shoes {
    background-color: red;
}

#second-shoes {
    background-color: green;
}

#third-shoes {
    background-color: yellow;
}

.box {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    height: 500px;
    width: 500px;
}

.box img {
    height: 350px;
}

.box h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 45px;
}

.text-1, .text-2 {
    color: yellow;
}

.text-3 {
    color: green;
}